/*footer inicio*/

footer{
    background-image: url("./imagenes/header.jpg");
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding-top: 6rem;
}

.parrafo-footer{
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
}

.botones-footer{
    vertical-align: center;
}

/*Footer skill and hobbies*/
