.contactos{
    height: 150%;
    width: 100%;
}


form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 10px;
    padding: 1rem 0 0 0;
}

.checkbox{
    margin: 20px 0;
}




.contacto{
    height: 100%;
    margin: 0px 0px 50px;
}

